.manageQuiz-container {
  &__title {
    font-size: 20px;
    font-weight: 500;
  }
  .btn-add-new {
    margin-top: 20px;
  }
  .button-add {
    border: none;
    padding: 8px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.4s;
    &:hover {
      color: rgb(65, 63, 63);
      background-color: rgb(236, 236, 236);
    }
  }
}
.label-upload {
  border: 1px solid #ddd;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: #f4f4f4;
  }
}
.btn-add-new-quiz {
  margin: 15px 0;
}
.modal-add-Quiz {
  .img-preview {
    margin-top: 10px;
    padding: 60px 0;
    border: 2px dashed #c0c0c0;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    color: #c0c0c0;
    img {
      height: 300px;
    }
  }
}
.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #686767;
  // border-top: none !important;
  // border-left: none !important;
  // border-right: none !important;
}

.nav-tabs .nav-link.active {
  // border-bottom: solid 1px #d80b0b !important;
  color: #07b4e9 !important;
}
