.detail-Quiz {
  display: flex;
  gap: 10px;
  &_question {
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    ul {
      list-style: none;
    }
    .image_Quiz {
      height: 500px;
      width: 200px;
      padding: 20px;
    }
  }
  &_countDown {
    width: 30%;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
  }
}
