.lb-comfirm {
  position: relative;
  .eyeComfirm {
    position: absolute;
    top: 37px;
    right: 23px;
  }
}
.lb-comfirm1 {
  position: relative;
  .eyeComfirm {
    position: absolute;
    top: 37px;
    right: 36px;
  }
}
